
<!DOCTYPE html>
<html>
<head>
   <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>

    <!-- Page title -->
    <title>Soulters</title>

    <!-- Vendor styles -->
    <link rel="stylesheet" href="assets/font-awesome.css"/>
    <link rel="stylesheet" href="assets/animate.css"/>
    <link rel="stylesheet" href="assets/bootstrap.css"/>
    <link rel="stylesheet" href="assets/toastr.min.css"/>

    <!-- App styles -->
    <link rel="stylesheet" href="assets/pe-icon-7-stroke.css"/>
    <link rel="stylesheet" href="assets/helper.css"/>
    <link rel="stylesheet" href="assets/style.css"/>
    <link rel="stylesheet" href="assets/mystyles.css">


    
</head>
<body ng-app="myApp" ng-controller="AppController">

<!-- Wrapper-->
<div class="wrapper">
  <div ng-include="'partials/header.html'" ng-if="pageCheck()"></div>
  <div ng-include="'partials/side-bar.html'" ng-if="pageCheck()"></div>


    <!-- Main content-->
   
    <ui-view id="mainView"></ui-view>
    <!-- End main content-->
    <div ng-include="'partials/model-add-company.html'"></div>
    <div ng-include="'partials/model-add-vendor.html'"></div>

</div>
<!-- End wrapper-->


<!-- Vendor scripts -->
<script src="assets/pace.min.js"></script>
<script src="assets/jquery.min.js"></script>
<script src="assets/bootstrap.min.js"></script>
<script src="assets/toastr.min.js"></script>
<script src="assets/index.js"></script>
<script src="assets/jquery.flot.min.js"></script>
<script src="assets/jquery.flot.resize.min.js"></script>
<script src="assets/jquery.flot.spline.js"></script>
<script src="assets/chart.min.js"></script>

<!-- App scripts -->
<script src="assets/luna.js"></script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/angular-ui-router.min.js"></script>
<script src="assets/js/angular-sanitize.min.js"></script>
<script src="assets/js/moment.min.js"></script>
<script src="assets/js/app.js"></script>

</body>

</html>