<section class="content">
 


   <div class="col-all">
      <div class="panel panel-filled">
         <div class="panel-heading">
            <div class="panel-tools">
               <a class="panel-toggle"><i class="fa fa-chevron-up"></i></a>
               <a class="panel-close"><i class="fa fa-times"></i></a>
            </div>
            Dashboard
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-lg-12">
                  <div class="view-header">
                     <div class="pull-right text-right" style="line-height: 14px">
                        <small>Soulters<br>Dashboard<br> <span class="c-white">v.1.0</span></small>
                     </div>
                     <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-shield"></i>
                     </div>
                     <div class="header-title">
                        <h3 class="m-b-xs">Dashboard</h3>
                        <small>
                               Analytics Data for App 
                                    </small>
                     </div>
                  </div>
                  <hr>
               </div>
            </div>

            <div class="row">

               <div class="col-lg-2 col-xs-6">
                  <div class="panel panel-filled">

                     <div class="panel-body">
                        <h2 class="m-b-none">
                           1285 <span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +5% Last 1 day</span>
                        </h2>
                        <div class="small"> Total Users</div>
                        <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Updated: <span class="c-white">12:00am</span> </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-2 col-xs-6">
                  <div class="panel panel-filled">
                     <div class="panel-body">
                        <h2 class="m-b-none">
                            1117 <span class="slight"><i class="fa fa-play fa-rotate-90 c-white"> </i> 4.5% Last 1 day</span>
                        </h2>
                        <div class="small">Total Registered Users</div>
                        <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Updated: <span class="c-white">12:00am</span> </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-2 col-xs-6">
                  <div class="panel panel-filled">
                     <div class="panel-body">
                        <h2 class="m-b-none">
                            79 <span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +8% Last 1 day</span>
                        </h2>
                        <div class="small">Total Uninstalls</div>
                        <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Updated: <span class="c-white">12:00am</span> </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-2 col-xs-6">
                  <div class="panel panel-filled">
                     <div class="panel-body">
                        <h2 class="m-b-none">
                         912 <span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +3% Last 1 day</span>
                        </h2>
                        <div class="small">Google Play Store</div>
                        <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Updated: <span class="c-white">12:00am</span> </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-2 col-xs-6">
                  <div class="panel panel-filled">
                     <div class="panel-body">
                        <h2 class="m-b-none">
                            152 <span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +2% Last 1 day</span>
                        </h2>
                        <div class="small">Apple App Store</div>
                        <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Updated: <span class="c-white">12:00am</span> </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-2 col-xs-6">
                  <div class="panel panel-filled">
                     <div class="panel-body">
                        <h2 class="m-b-none">
                            53 <span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +3% Last 1 day</span>
                        </h2>
                        <div class="small">Web Users</div>
                        <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Updated: <span class="c-white">12:00am</span> </div>
                     </div>
                  </div>
               </div>


               <!--<div class="col-lg-4 col-xs-12">
                  <div class="panel panel-filled" style="position:relative;height: 114px">
                     <div style="position: absolute;bottom: 0;left: 0;right: 0">
                        <span class="sparkline"></span>
                     </div>
                     <div class="panel-body">
                        <div class="m-t-sm">
                           <div class="pull-right">
                              <a href="#" class="btn btn-default btn-xs">Detail Report</a>
                           </div>
                           <div class="c-white"><span class="label label-accent">+45</span> Revenue</div>
                           <span class="small c-white">120,312 <i class="fa fa-play fa-rotate-270 text-warning"> </i> -22%</span>
                           <!--<span class="sparkline"></span>
                        </div>
                     </div>
                  </div>
               </div>-->

            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="panel">
                     <div class="panel-body">
                        <h1 class="m-t-md m-b-xs" style="margin-top: 30px">
                           <i class="pe pe-7s-global text-warning"> </i> 14,248 <span class="slight"><i class="fa fa-play fa-rotate-90 text-warning"> </i> -42%</span>
                        </h1>
                        <div class="small">
                           <span class="c-white">OverAll Sessions</span> from the beginning of app. See detailed charts for more
                           information about session per day.
                        </div>
                        <div class="m-t-sm">
                           <div class="row">
                              <div class="col-md-12">
                                 <small class="c-white">
                                                </small>
                                 <div class="sparkline3"></div>
                                 <small class="slight">
                                                </small>
                              </div>

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-8">
                  <div class="panel panel-filled">
                     <div class="row">
                        <div class="col-md-4">

                           <div class="panel-body h-200 list">
                              <div class="stats-title pull-left">
                                 <h4>Comparison <small>Install/Uninstall</small></h4>
                              </div>
                              <div class="m-t-xl">
                                 <small>
                                                     Complete report for app users / install app from play store and app store
                                                </small>
                              </div>


                              <div class="progress m-t-xs full progress-small">
                                 <div style="width: 85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" class=" progress-bar progress-bar-warning">
                                    <span class="sr-only">85% Complete (success)</span>
                                 </div>
                              </div>



                              <div class="row">
                                 <div class="col-md-6">
                                    <small class="stat-label">Today <br> (Install / Uninstall)</small>
                                    <h4 class="m-t-xs">1 / 0  <i class="fa fa-level-up text-warning"></i></h4>
                                 </div>
                                 <div class="col-md-6">
                                    <small class="stat-label">Last month <br> (Install / Uninstall)</small>
                                    <h4 class="m-t-xs">912 / 53 <i class="fa fa-level-down c-white"></i></h4>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-8">
                           <div class="panel-body">
                              <div class="text-center slight">
                              </div>

                              <div class="flot-chart" style="height: 160px;margin-top: 5px">
                                 <div class="flot-chart-content" id="flot-line-chart"></div>
                              </div>

                              <div class="small text-center">All Users Over the Devices (Andriod, IOS and Web)</div>
                           </div>
                        </div>

                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-8">
                  <div class="panel">
                     <div class="panel-body">
                        <div class="table-responsive">
                           <table class="table">
                              <thead>
                                 <tr>
                                    <th>Region</th>
                                    <th>Total User</th>
                                    <th>Total Registered</th>
                                    <th>Total Sessions</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td>Punjab</td>
                                    <td>758</td>
                                    <td>655</td>
                                    <td>
                                       <span class="sparkline8"></span> 7543
                                    </td>
                                    
                                 </tr>
                                 <tr>
                                    <td>Sindh</td>
                                    <td>342</td>
                                    <td>142</td>
                                    <td>
                                       <span class="sparkline8"></span> 4533
                                    </td>

                                 </tr>
                                 <tr>
                                    <td>KPK / Capital</td>
                                    <td>103</td>
                                    <td>56</td>
                                    <td>
                                       <span class="sparkline8"></span> 1539
                                    </td>

                                 </tr>
                                 <tr>
                                    <td>Others</td>
                                    <td>82</td>
                                    <td>56</td>
                                    <td>
                                       <span class="sparkline8"></span> 633
                                    </td>

                                 </tr>
                                
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">

                  <div class="panel panel-b-accent m-t-sm">
                     <div class="panel-body text-center p-m">
                        <h2 class="font-light">
                          Database API Stats
                        </h2>
                        <small>Top 4 Queries</small>
                        <br/> 14,500 <span class="slight"><i class="fa fa-play fa-rotate-270 c-white"> </i> +4% Last 1 day</span>
                        <div class="sparkline7 m-t-xs"></div>
                     </div>
                  </div>
               </div>

            </div>
            <div class="row">
               <div class="col-md-12">
                  <h4>Event Tracking</h4>
               </div>
               <div class="col-md-6">
                  <div class="panel">
                     <div class="panel-body">
                        <div class="table-responsive">
                           <table class="table">
                              <thead>
                                 <tr>
                                    <th>Name</th>
                                    <th>Clicked</th>
                                    <th>Session</th>
                                    <th>Load Time (Avg)</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td>Home-Page</td>
                                    <td>11390</td>
                                    <td>17201</td>
                                    <td>2.5 sec</td>
                                 </tr>
                                 <tr>
                                    <td>Schedule-Page</td>
                                    <td>8547</td>
                                    <td>12510</td>
                                    <td>2.97 sec</td>
                                 </tr>
                                 <tr>
                                    <td>Live-Page</td>
                                    <td>3562</td>
                                    <td>4533</td>
                                    <td>8.32 sec</td>
                                 </tr>
                                 <tr>
                                    <td>Faculty-Page</td>
                                    <td>3426</td>
                                    <td>4120</td>
                                    <td>3.48 sec</td>
                                 </tr>
                                 <tr>
                                    <td>Abstract-Page</td>
                                    <td>1547</td>
                                    <td>1798</td>
                                    <td>1.22 sec</td>
                                 </tr>
                                 <tr>
                                    <td>Query-Page</td>
                                    <td>412</td>
                                    <td>531</td>
                                    <td>3.16 sec</td>
                                 </tr>
                                 
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="panel">

                     <div class="panel-body">
                        <div>
                           <canvas id="barOptions" height="180"></canvas>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <h4>Real Time Stats (Last 7 Days)</h4>
               </div>
               <div class="col-md-6">
                  <div class="panel">
                     <div class="panel-body">
                        <div class="table-responsive">
                           <table class="table">
                              <thead>
                                 <tr>
                                    <th>Date</th>
                                    <th>User Sessions</th>
                                    <th>New Users</th>
                                    <th>App Crash</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td>08-03-2018</td>
                                    <td>04</td>
                                    <td>01</td>
                                    <td>00</td>
                                 </tr>
                                 <tr>
                                    <td>07-03-2018</td>
                                    <td>00</td>
                                    <td>00</td>
                                    <td>00</td>
                                 </tr>
                                 <tr>
                                    <td>06-03-2018</td>
                                    <td>00</td>
                                    <td>00</td>
                                    <td>00</td>
                                 </tr>
                                 <tr>
                                    <td>05-03-2018</td>
                                    <td>03</td>
                                    <td>01</td>
                                    <td>00</td>
                                 </tr>
                                 <tr>
                                    <td>04-03-2018</td>
                                    <td>00</td>
                                    <td>00</td>
                                    <td>00</td>
                                 </tr>
                                 <tr>
                                    <td>03-03-2018</td>
                                    <td>04</td>
                                    <td>02</td>
                                    <td>00</td>
                                 </tr>
                                 <tr>
                                    <td>02-03-2018</td>
                                    <td>00</td>
                                    <td>00</td>
                                    <td>00</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="panel">

                     <div class="panel-body">
                        <div>
                           <canvas id="polarOptions" height="180"></canvas>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>

</section>

<script>
   $(window).load(function () {


      // Sparkline charts
      var sparklineCharts = function () {
         $(".sparkline").sparkline([20, 34, 43, 43, 35, 44, 32, 44, 52, 45], {
            type: 'line',
            lineColor: '#FFFFFF',
            lineWidth: 3,
            fillColor: '#404652',
            height: 47,
            width: '100%'
         });

         $(".sparkline7").sparkline([40, 544, 45688, 54222, 2344, 456, 223, 121, 52, 35], {
            type: 'line',
            lineColor: '#FFFFFF',
            lineWidth: 3,
            fillColor: '#f7af3e',
            height: 75,
            width: '100%'
         });

         $(".sparkline1").sparkline([0, 6, 8, 3, 2, 4, 3, 4, 9, 5, 3, 4, 4, 5, 1, 6, 7, 15, 6, 4, 0], {
            type: 'line',
            lineColor: '#2978BB',
            lineWidth: 3,
            fillColor: '#2978BB',
            height: 170,
            width: '100%'
         });

         $(".sparkline3").sparkline([2, 5, 34, 23, 655, 244, 13, 5, 0, 1, 4, 5, 1, 2, 4], {

            type: 'line',
            lineColor: '#fff',
            lineWidth: 3,
            fillColor: '#393D47',
            height: 70,
            width: '100%'
         });

         $(".sparkline5").sparkline([0, 6, 8, 3, 2, 4, 3, 4, 9, 5, 3, 4, 4, 5], {
            type: 'line',
            lineColor: '#f7af3e',
            lineWidth: 2,
            fillColor: '#2F323B',
            height: 20,
            width: '100%'
         });
         $(".sparkline6").sparkline([0, 1, 4, 2, 2, 4, 1, 4, 3, 2, 3, 4, 4, 2, 4, 2, 1, 3], {
            type: 'bar',
            barColor: '#f7af3e',
            height: 20,
            width: '100%'
         });

         $(".sparkline8").sparkline([4, 2], {
            type: 'pie',
            sliceColors: ['#f7af3e', '#404652']
         });
         $(".sparkline9").sparkline([3, 2], {
            type: 'pie',
            sliceColors: ['#f7af3e', '#404652']
         });
         $(".sparkline10").sparkline([4, 1], {
            type: 'pie',
            sliceColors: ['#f7af3e', '#404652']
         });
         $(".sparkline11").sparkline([1, 3], {
            type: 'pie',
            sliceColors: ['#f7af3e', '#404652']
         });
         $(".sparkline12").sparkline([3, 5], {
            type: 'pie',
            sliceColors: ['#f7af3e', '#404652']
         });
         $(".sparkline13").sparkline([6, 2], {
            type: 'pie',
            sliceColors: ['#f7af3e', '#404652']
         });
      };

      var sparkResize;

      // Resize sparkline charts on window resize
      $(window).resize(function () {
         clearTimeout(sparkResize);
         sparkResize = setTimeout(sparklineCharts, 100);
      });

      // Run sparkline
      sparklineCharts();


      // Flot charts data and options
      var data1 = [[01, 05],[02, 890], [03, 40], [04, 25]];
      var data2 = [[01, 05],[02, 125], [03, 15], [04, 12]];
      var data3 = [[01, 05],[02, 42], [03, 7], [04, 3]];

      var chartUsersOptions = {
         series: {
            splines: {
               show: true,
               tension: 0.4,
               lineWidth: 1,
               fill: 0

            }

         },
         grid: {
            tickColor: "#404652",
            borderWidth: 2,
            borderColor: '#404652',
            color: '#404652'
         },
        
      };
      if ($("#flot-line-chart").width())
         $.plot($("#flot-line-chart"), [data3,data2, data1], chartUsersOptions);

       $.plot($("#flot-line-chart"), [data3, data2, data1], chartUsersOptions);  
      // Run toastr notification with Welcome message
      //   setTimeout(function(){
      //       toastr.options = {
      //           "positionClass": "toast-top-right",
      //           "closeButton": true,
      //           "progressBar": true,
      //           "showEasing": "swing",
      //           "timeOut": "6000"
      //       };
      //       toastr.warning('<strong>You entered to LUNA</strong> <br/><small>Premium admin theme with Dark UI style. </small>');
      //   },1600)



      /**
               * Options for Line chart
               */

      var globalOptions = {
         responsive: true,
         legend: {
            labels: {
               fontColor: "#90969D"
            }
         },
         scales: {
            xAxes: [{
               ticks: {
                  fontColor: "#90969D"
               },
               gridLines: {
                  color: "#37393F"
               }
            }],
            yAxes: [{
               ticks: {
                  fontColor: "#90969D"
               },
               gridLines: {
                  color: "#37393F"
               }
            }]
         }
      };

      var lineData = {
         labels: ["January", "February", "March", "April", "May", "June", "July"],
         datasets: [

            {
               label: "Data 1",
               backgroundColor: 'transparent',
               borderColor: "#f6a821",
               pointBorderWidth: 0,
               pointRadius: 2,
               pointBorderColor: '#f6a821',
               borderWidth: 1,
               data: [16, 32, 18, 26, 42, 33, 44]
            },
            {
               label: "Data 2",
               backgroundColor: 'transparent',
               borderColor: "#676B73",
               pointBorderWidth: 0,
               pointRadius: 2,
               pointBorderColor: '#676B73',
               borderWidth: 1,
               data: [22, 44, 67, 43, 76, 45, 12]
            }
         ]
      };

      var polarData = {
         datasets: [{
            data: [
               03,
               00,
               01
            ],
            borderWidth: 0,
            backgroundColor: [
               "rgba(246,168,33, 0.1)",
               "rgba(246,168,33, 0.4)",
               "rgba(246,168,33, 0.8)"
            ],
            label: 'Devices Information' // for legend
         }],
         labels: [
            "Andriod",
            "IOS",
            "Web"
         ]
      };
      var barData = {
         labels: ["Week 1", "Week 2", "Week 3", "Week 4"],
         datasets: [
            {
               label: "Home-Page",
               backgroundColor: 'transparent',
               borderColor: "#f6a821",
               borderWidth: 1,
               data: [6450, 4561, 1590, 299]
            },
            {
               label: "Schedule-Page",
               backgroundColor: 'transparent',
               borderColor: "#676B73",
               borderWidth: 1,
               data: [3542,2840,1960,205]
            },
            {
                  label: "Live-Page",
                  backgroundColor: 'transparent',
                  borderColor: "#cc324d",
                  borderWidth: 1,
                  data: [1921, 1210, 426, 5]
               }
         ]
      };
      if (document.getElementById("barOptions")) {
         var c3 = document.getElementById("barOptions").getContext("2d");
         new Chart(c3, { type: 'bar', data: barData, options: globalOptions });

         /**
          * Options for Bar chart
          */

         /**
          * Data for Bar chart
          */
         var singleBarData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
               {
                  label: "Data 0",
                  backgroundColor: 'transparent',
                  borderColor: "#f6a821",
                  borderWidth: 1,
                  data: [15, 20, 30, 40, 30, 50, 60]
               }
            ]
         };
      }
      if (document.getElementById("polarOptions")) {
         var c5 = document.getElementById("polarOptions").getContext("2d");
         new Chart(c5, { type: 'polarArea', data: polarData, options: globalOptions });


         var doughnutData = {
            labels: [
               "Milage",
               "General",
               "OverExpense"
            ],
            datasets: [
               {
                  data: [20, 120, 100],
                  borderWidth: 0,
                  backgroundColor: [
                     "rgba(246,168,33, 0.1)",
                     "rgba(246,168,33, 0.4)",
                     "rgba(246,168,33, 0.8)"
                  ],
                  hoverBackgroundColor: [
                     "#F6A821",
                     "#F6A821",
                     "#F6A821"
                  ]
               }]
         };
      }

      if (document.getElementById("doughnutChart")) {

         var c6 = document.getElementById("doughnutChart").getContext("2d");
         new Chart(c6, { type: 'doughnut', data: doughnutData, options: globalOptions });
      }

   });

</script>