
<div class="modal fade in" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header text-center">
            <h4 class="modal-title">Add Company</h4>
            <small>Some information about adding a company</small>
         </div>
         <div class="modal-body">
            <div class="panel panel-filled">
               <div class="panel-body"> 
                  <form>
                     <div class="form-group"><label for="exampleInputName">Name</label> <input type="text" class="form-control" id="exampleInputName"
                           placeholder="Name"></div>
                     <div class="form-group"><label for="exampleInputEmail1">Address</label> <input type="email" class="form-control" id="exampleInputEmail1"
                           placeholder="Address"></div>
                     <div class="form-group"><label for="exampleInputPassword1">Phone</label> <input type="password" class="form-control" id="exampleInputPassword1"
                           placeholder="Phone">
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-accent" data-dismiss="modal">Add</button>
         </div>
      </div>
   </div>
</div>