<section class="content-add hide" id="notification-add">
        <div class="col-big-full">
           <div class="panel panel-filled">
              <div class="panel-heading">
                 <div class="panel-tools">
                    <a class="panel-toggle margin-right"><i class="fa fa-plus"></i> Save</a>
                    <a class="panel-close" ng-click="showPage('notification-add')"><i class="fa fa-times"></i></a>
                 </div>
                 Notifications
              </div>
              <div class="panel-body">
                 <div class="row">
                    <div class="col-lg-12">
                       <div class="view-header">
                          <div class="pull-right text-right" style="line-height: 14px">
                             <small><br><br> <span class="c-white"></span></small>
                          </div>
                          <div class="header-icon">
                             <i class="pe page-header-icon pe-7s-shield"></i>
                          </div>
                          <div class="header-title">
                             <h3 class="m-b-xs">Add Notifications</h3>
                             <small>
                                             
                                         </small>
                          </div>
                       </div>
                       <hr>
                    </div>
                 </div>
     
                  
                          <div class="row">
                             
         
                                 
                             
                         
                                  <div class="col-lg-12">
                                         <div class="form-group">
                                            <label>Description </label>
                                            <textarea required="" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" ng-model="organization_commitee.description"></textarea>
                                         </div>
                                      </div>
                           
                          
    
                                      
     
                               <div class="col-lg-12">
                            <button type="button" class="btn btn-default btn-md  pull-right"
                              ng-click="insert_data('organization_commitee',organization_commitee,'/organization_commitee')">
                              Add </button>
                              
     
                             <a href="/notification" type="button" 
                             class="btn btn-default btn-md  pull-left">Cancel</a>
                         </div>
     
                       </div>
                    </div>
                    
                    </div>
                 </div>
              </div>
           </div>
     
        </div>
     </section>