<section class="content login-content">
      <img src="assets/logo.png" class="logo">

        <div class="container-center lg animated slideInDown">


            <div class="view-header">
                <div class="header-icon">
                    <i class="pe page-header-icon pe-7s-add-user"></i>
                </div>
                <div class="header-title">
                    <h3>Register</h3>
                    <small>
                        Please enter your data to register.
                    </small>
                </div>
            </div>

            <div class="panel panel-filled">
                <div class="panel-body">
                  <div class="modal-content">
                     <div class="modal-body">
                        <h4 class="m-t-none">Lorem Ipsum is simply</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                           industry's standard dummy text ever.</p>
                        <div class="row">
                           <div class="col-md-4">
                              <small class="stat-label">Today</small>
                              <h4 class="m-t-xs">170,20 <i class="fa fa-level-up text-accent"></i></h4>
                           </div>
                           <div class="col-md-4">
                              <small class="stat-label">Last month %</small>
                              <h4 class="m-t-xs">%20,20 <i class="fa fa-level-down c-white"></i></h4>
                           </div>
                           <div class="col-md-4">
                              <small class="stat-label">Last year</small>
                              <h4 class="m-t-xs">246,40 <i class="fa fa-level-up text-accent"></i></h4>
                           </div>
                        </div>
                        <div class="progress m-t-xs full progress-small">
                           <div style="width: 65%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="65" role="progressbar" class=" progress-bar progress-bar-warning">
                              <span class="sr-only">65% Complete (success)</span>
                           </div>
                        </div>
                        <table class="table m-t-md">
                           <thead>
                              <tr>
                                 <th>Name</th>
                                 <th>Phone</th>
                                 <th>Street Address</th>
                                 <th>City</th>
                                 <th>Action</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td>Abraham</td>
                                 <td>076 9477 4896</td>
                                 <td>294-318 Duis Ave</td>
                                 <td>Vosselaar</td>
                                 <td><a href="#" class="btn btn-default btn-xs">View</a></td>
                              </tr>
                              <tr>
                                 <td>Phelan</td>
                                 <td>0500 034548</td>
                                 <td>680-1097 Mi Rd.</td>
                                 <td>Lavoir</td>
                                 <td><a href="#" class="btn btn-default btn-xs active">View</a></td>
                              </tr>
                              <tr>
                                 <td>Raya</td>
                                 <td>(01315) 27698</td>
                                 <td>Ap #289-8161 In Avenue</td>
                                 <td>Santomenna</td>
                                 <td><a href="#" class="btn btn-default btn-xs">View</a></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-accent">Save changes</button>
                     </div>
                  </div>
                    <p>

                    </p>
                    <form action="index.html" id="loginForm" novalidate>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label>Username</label>
                                <input type="" value="" id="username" class="form-control" name="">
                                <span class="help-block small">Your unique username to app</span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Password</label>
                                <input type="password" value="" id="password" class="form-control" name="">
                                <span class="help-block small">Your hard to guess password</span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Repeat Password</label>
                                <input type="password" value="" id="repeatpassword" class="form-control" name="">
                                <span class="help-block small">Please repeat your pasword</span>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Email Address</label>
                                <input type="" value="" id="email" class="form-control" name="">
                                <span class="help-block small">Your address email to contact</span>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-accent">Register</button>
                            <a class="btn btn-default" ui-sref="login">Login</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>