<section class="content">

   <div class=".call-all">
      <div class="panel panel-filled">
         <div class="panel-heading">
            <div class="panel-tools">
               <a class="panel-toggle margin-right" ng-click="showPage('rooms-add')">
                   <i class="fa fa-plus"></i> Add Rooms</a>
               <a class="panel-close"><i class="fa fa-times"></i></a>
            </div>
            Rooms
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-lg-12">
                  <div class="view-header">
                     <div class="pull-right text-right" style="line-height: 14px">
                        <small><br><br> <span class="c-white"></span></small>
                     </div>
                     <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-shield"></i>
                     </div>
                     <div class="header-title">
                        <h3 class="m-b-xs">Rooms List</h3>
                        <small>
                                         List of all Rooms
                                    </small>
                     </div>
                  </div>
                  <hr>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="panel panel-filled">
                     <div class="panel-body">
                       
                        <div class="table-responsive">
                           <table class="table table-hover table-striped">
                              <thead>
                                 <tr>
                                    <th>Name</th>
                                    
                                    <th>Description</th>
                                    <th>Created At</th>
                                    <th>Action</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td>A</td>
                                    <td>B</td>
                                    <td>C</td>
                                    <td class="text-danger">D</td>
                                    
                                 </tr>
                                 
                              </tbody>
                           </table>
                        </div>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>

</section>
<div ng-include="'partials/rooms-add.html'"></div>