<section class="content-add hide" id="member-add">
   <div class="col-big-full">
      <div class="panel panel-filled">
         <div class="panel-heading">
            <div class="panel-tools">
               <a class="panel-toggle margin-right"><i class="fa fa-plus"></i> Save</a>
               <a class="panel-close" ng-click="showPage('schedule-add')"><i class="fa fa-times"></i></a>
            </div>
            Invoice
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-lg-12">
                  <div class="view-header">
                     <div class="pull-right text-right" style="line-height: 14px">
                        <small><br><br> <span class="c-white"></span></small>
                     </div>
                     <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-shield"></i>
                     </div>
                     <div class="header-title">
                        <h3 class="m-b-xs">Schedule Add</h3>
                        <small> </small>
                     </div>
                  </div>
                  <hr>
               </div>
            </div>

             
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="form-group">
                              <label>Name </label>
                              <input required="" class="form-control"
                                type="text" ng-model=""> 
                              
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form-group">
                              <label>Order</label>
                              <input required="" class="form-control"
                                type="text" ng-model=""> 
                              

                           </div>
                        </div>
                        <div class="col-lg-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Date and Time :</label>
                            <div class="col-md-12">
                               <div class="col-md-4">
                                  Date: 
                            <input required="" data-date-format="DD MMMM YYYY" ng-value="returnDateFormated(schedule.dated)" type="date" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" ng-model="schedule.dated">
                               </div>
                               <h4 class="st-time">Start Time</h4>
                               <div class="col-md-4">
                                  HH (24 hours format) : <input required="" type="number" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" ng-model="schedule.start_hours">
                               </div>
                               <div class="col-md-4">
                                  MM:<input required="" type="number" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" ng-model="schedule.start_minutes">
                               </div>
                               <h4>End Time</h4>
                               <div class="col-md-4">
                                  HH (24 hours format) : <input required="" type="number" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" ng-model="schedule.end_hours">
                               </div>
                               <div class="col-md-4">
                                  MM:<input required="" type="number" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" ng-model="schedule.end_minutes">
                               </div>
                            </div>
                         </div>
                        </div>

                        <div class="col-lg-12">
                         <div class="form-group">
                            <label for="exampleInputEmail1">Session:</label>
                            <select class="form-control ng-pristine ng-valid ng-empty ng-touched" ng-model="schedule.hall" multiple="" ng-init="get_data('hall','halls')">
                               <option value="">Select Session</option>
                               <!-- ngRepeat: hall in halls -->
                            </select>
                         </div>
                         </div>

                         <div class="col-lg-12">
                         <div class="form-group">
                            <label for="exampleInputEmail1">Faculty :</label>
                            <select class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="schedule.faculty" multiple="" ng-init="get_data('faculty','facultys')">
                               <option value="">Select Faculty</option>
                               <!-- ngRepeat: faculty in facultys -->
                            </select>
                         </div>
                         </div>

                         <div class="col-lg-12">
                         <div class="form-group">
                            <label for="exampleInputEmail1">Organizer :</label>
                            <select class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="schedule.organizer" multiple="" ng-init="get_data('organizer','organizers')">
                               <option value="">Select Organizer</option>
                               <!-- ngRepeat: faculty in organizers -->
                            </select>
                         </div>
                         </div>

                         <div class="col-lg-12">
                         <div class="form-group">
                            <label for="exampleInputEmail1">Room :</label>
                            <select class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="schedule.room" multiple="" ng-init="get_data('room','rooms')">
                               <option value="">Select Room</option>
                               <!-- ngRepeat: room in rooms -->
                            </select>
                         </div>
                         </div>

                         <div class="col-lg-12">
                         <div class="form-group">
                            <label for="exampleInputEmail1">Description :</label>
                            <!--<textarea text-angular required class="form-control" ng-model="schedule.description"></textarea>-->
                            <div text-angular="" ng-model="schedule.description" name="demo-editor" ta-text-editor-class="clearfix border-around" ta-html-editor-class="border-around" class="ng-pristine ng-untouched ng-valid ng-isolate-scope ta-root ng-empty"><div text-angular-toolbar="" name="textAngularToolbar2977044586487831" class="ng-scope ng-isolate-scope ta-toolbar btn-toolbar"><div class="btn-group"><button type="button" class="btn btn-default ng-scope" name="h1" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Heading 1" unselectable="on" disabled="disabled">H1</button><button type="button" class="btn btn-default ng-scope" name="h2" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Heading 2" unselectable="on" disabled="disabled">H2</button><button type="button" class="btn btn-default ng-scope" name="h3" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Heading 3" unselectable="on" disabled="disabled">H3</button><button type="button" class="btn btn-default ng-scope" name="h4" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Heading 4" unselectable="on" disabled="disabled">H4</button><button type="button" class="btn btn-default ng-scope" name="h5" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Heading 5" unselectable="on" disabled="disabled">H5</button><button type="button" class="btn btn-default ng-scope" name="h6" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Heading 6" unselectable="on" disabled="disabled">H6</button><button type="button" class="btn btn-default ng-scope" name="p" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Paragraph" unselectable="on" disabled="disabled">P</button><button type="button" class="btn btn-default ng-scope" name="pre" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Preformatted text" unselectable="on" disabled="disabled">pre</button><button type="button" class="btn btn-default ng-scope" name="quote" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Quote/unquote selection or paragraph" unselectable="on" disabled="disabled"><i class="fa fa-quote-right"></i></button></div><div class="btn-group"><button type="button" class="btn btn-default ng-scope" name="bold" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Bold" unselectable="on" disabled="disabled"><i class="fa fa-bold"></i></button><button type="button" class="btn btn-default ng-scope" name="italics" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Italic" unselectable="on" disabled="disabled"><i class="fa fa-italic"></i></button><button type="button" class="btn btn-default ng-scope" name="underline" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Underline" unselectable="on" disabled="disabled"><i class="fa fa-underline"></i></button><button type="button" class="btn btn-default ng-scope" name="strikeThrough" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Strikethrough" unselectable="on" disabled="disabled"><i class="fa fa-strikethrough"></i></button><button type="button" class="btn btn-default ng-scope" name="ul" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Unordered List" unselectable="on" disabled="disabled"><i class="fa fa-list-ul"></i></button><button type="button" class="btn btn-default ng-scope" name="ol" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Ordered List" unselectable="on" disabled="disabled"><i class="fa fa-list-ol"></i></button><button type="button" class="btn btn-default ng-scope" name="redo" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Redo" unselectable="on" disabled="disabled"><i class="fa fa-repeat"></i></button><button type="button" class="btn btn-default ng-scope" name="undo" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Undo" unselectable="on" disabled="disabled"><i class="fa fa-undo"></i></button><button type="button" class="btn btn-default ng-scope" name="clear" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Clear formatting" unselectable="on" disabled="disabled"><i class="fa fa-ban"></i></button></div><div class="btn-group"><button type="button" class="btn btn-default ng-scope active" name="justifyLeft" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Align text left" unselectable="on" disabled="disabled"><i class="fa fa-align-left"></i></button><button type="button" class="btn btn-default ng-scope" name="justifyCenter" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Center" unselectable="on" disabled="disabled"><i class="fa fa-align-center"></i></button><button type="button" class="btn btn-default ng-scope" name="justifyRight" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Align text right" unselectable="on" disabled="disabled"><i class="fa fa-align-right"></i></button><button type="button" class="btn btn-default ng-scope" name="justifyFull" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Justify text" unselectable="on" disabled="disabled"><i class="fa fa-align-justify"></i></button><button type="button" class="btn btn-default ng-scope" name="indent" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Increase indent" unselectable="on" disabled="disabled"><i class="fa fa-indent"></i></button><button type="button" class="btn btn-default ng-scope" name="outdent" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Decrease indent" unselectable="on" disabled="disabled"><i class="fa fa-outdent"></i></button></div><div class="btn-group"><button type="button" class="btn btn-default ng-scope" name="html" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Toggle html / Rich Text" unselectable="on"><i class="fa fa-code"></i></button><button type="button" class="btn btn-default ng-scope" name="insertImage" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Insert image" unselectable="on" disabled="disabled"><i class="fa fa-picture-o"></i></button><button type="button" class="btn btn-default ng-scope" name="insertLink" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Insert / edit link" unselectable="on" disabled="disabled"><i class="fa fa-link"></i></button><button type="button" class="btn btn-default ng-scope" name="insertVideo" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Insert video" unselectable="on" disabled="disabled"><i class="fa fa-youtube-play"></i></button><div id="toolbarWC" style="display:block; min-width:100px;" class="btn btn-default ng-scope" name="wordcount" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" unselectable="on" disabled="disabled">Words: <span ng-bind="wordcount" class="ng-binding">0</span></div><div id="toolbarCC" style="display:block; min-width:120px;" class="btn btn-default ng-scope" name="charcount" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" unselectable="on" disabled="disabled">Characters: <span ng-bind="charcount" class="ng-binding">0</span></div></div></div><div class="ta-scroll-window ng-scope ta-text ta-editor clearfix border-around" ng-hide="showHtml"><div class="popover fade bottom" style="max-width: none; width: 305px;"><div class="arrow"></div><div class="popover-content"></div></div><div class="ta-resizer-handle-overlay"><div class="ta-resizer-handle-background"></div><div class="ta-resizer-handle-corner ta-resizer-handle-corner-tl"></div><div class="ta-resizer-handle-corner ta-resizer-handle-corner-tr"></div><div class="ta-resizer-handle-corner ta-resizer-handle-corner-bl"></div><div class="ta-resizer-handle-corner ta-resizer-handle-corner-br"></div><div class="ta-resizer-handle-info"></div></div><div id="taTextElement2977044586487831" contenteditable="true" ta-bind="ta-bind" ng-model="html" class="ng-pristine ng-untouched ng-valid ta-bind ng-empty"><p><br></p></div></div><textarea id="taHtmlElement2977044586487831" ng-show="showHtml" ta-bind="ta-bind" ng-model="html" class="ng-pristine ng-untouched ng-valid ng-scope ta-bind ta-html ta-editor border-around ng-empty ng-hide"></textarea><input type="hidden" tabindex="-1" style="display: none;" name="demo-editor" value=""></div>
                         </div>
                        </div>

                        
                         
                         <div class="col-lg-12">
                         <div class="box-footer">
                            <button type="submit" class="btn btn-default btn-md btn-add pull-right">Add </button>
                            <a href="/orgaization_commitee" type="button" class="btn btn-default btn-md btn-cancle pull-left">Cancel</a>
                         </div>
                         </div>


                  </div>
               </div>
               
               </div>
            </div>
         </div>
      </div>

   </div>
</section>