<section class="content-add hide" id="session-add">
   <div class="col-big-full">
      <div class="panel panel-filled">
         <div class="panel-heading">
            <div class="panel-tools">
               <a class="panel-toggle margin-right"><i class="fa fa-plus"></i> Save</a>
               <a class="panel-close" ng-click="showPage('session-add')"><i class="fa fa-times"></i></a>
            </div>
            Session
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-lg-12">
                  <div class="view-header">
                     <div class="pull-right text-right" style="line-height: 14px">
                        <small><br><br> <span class="c-white"></span></small>
                     </div>
                     <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-shield"></i>
                     </div>
                     <div class="header-title">
                        <h3 class="m-b-xs">Add Sessions</h3>
                        <small>
                                         Some info of Session
                                    </small>
                     </div>
                  </div>
                  <hr>
               </div>
            </div>

             
                     <div class="row">
                        
                        <div class="col-lg-12">
                           <div class="form-group">
                              <label>Name</label>
                              <text-area class="form-control"></text-area>
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form-group">
                              <label>Address</label>
                              <text-area class="form-control"></text-area>
                           </div>
                        </div>
                     </div>


                       <button type="button" class="btn btn-default btn-md btn-add pull-right"
                         ng-click="insert_data('organization_commitee',organization_commitee,'/organization_commitee')">
                         Add </button>
                         

                         <a href="/organization_commitee" type="button" class="btn btn-default pull-left">Cancel</a>

                  </div>
               </div>
               
               </div>
            </div>
         </div>
      </div>

   </div>
</section>