<section class="content">

        <div class="col-big-full">
                <div class="panel panel-filled">
                   
                   <div class="panel-body">
                      <div class="row">
                         <div class="col-lg-12">
                            <div class="view-header">
                               <div class="pull-right text-right" style="line-height: 14px">
                                  <small><br><br> <span class="c-white"></span></small>
                               </div>
                               <div class="header-icon">
                                  <i class="pe page-header-icon pe-7s-shield"></i>
                               </div>
                               <div class="header-title">
                                  <h3 class="m-b-xs">General Settings</h3>
                                  <small>
                                                  
                                              </small>
                               </div>
                            </div>
                            <hr>
                         </div>
                      </div>
          
                       
                               <div class="row">
                                  
                                  <div class="col-lg-12">
                                     <div class="form-group">
                                        <label>App Name</label>
                                        <input class="form-control"> 
                                     </div>
                                  </div>
          
                                  <div class="col-lg-12">
                                     <div class="form-group">
                                        <label>About Section</label>
                                        <div style="    border: none;height:450px;" text-angular="" class="form-control bds ng-pristine ng-untouched ng-valid ng-isolate-scope ta-root ng-empty" ng-model="setting.about"><div text-angular-toolbar="" name="textAngularToolbar4561011121722258" class="ng-scope ng-isolate-scope ta-toolbar btn-toolbar"><div class="btn-group"><button type="button" class="btn btn-default ng-scope" name="h1" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Heading 1" unselectable="on" disabled="disabled">H1</button><button type="button" class="btn btn-default ng-scope" name="h2" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Heading 2" unselectable="on" disabled="disabled">H2</button><button type="button" class="btn btn-default ng-scope" name="h3" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Heading 3" unselectable="on" disabled="disabled">H3</button><button type="button" class="btn btn-default ng-scope" name="h4" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Heading 4" unselectable="on" disabled="disabled">H4</button><button type="button" class="btn btn-default ng-scope" name="h5" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Heading 5" unselectable="on" disabled="disabled">H5</button><button type="button" class="btn btn-default ng-scope" name="h6" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Heading 6" unselectable="on" disabled="disabled">H6</button><button type="button" class="btn btn-default ng-scope" name="p" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Paragraph" unselectable="on" disabled="disabled">P</button><button type="button" class="btn btn-default ng-scope" name="pre" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Preformatted text" unselectable="on" disabled="disabled">pre</button><button type="button" class="btn btn-default ng-scope" name="quote" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Quote/unquote selection or paragraph" unselectable="on" disabled="disabled"><i class="fa fa-quote-right"></i></button></div><div class="btn-group"><button type="button" class="btn btn-default ng-scope" name="bold" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Bold" unselectable="on" disabled="disabled"><i class="fa fa-bold"></i></button><button type="button" class="btn btn-default ng-scope" name="italics" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Italic" unselectable="on" disabled="disabled"><i class="fa fa-italic"></i></button><button type="button" class="btn btn-default ng-scope" name="underline" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Underline" unselectable="on" disabled="disabled"><i class="fa fa-underline"></i></button><button type="button" class="btn btn-default ng-scope" name="strikeThrough" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Strikethrough" unselectable="on" disabled="disabled"><i class="fa fa-strikethrough"></i></button><button type="button" class="btn btn-default ng-scope" name="ul" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Unordered List" unselectable="on" disabled="disabled"><i class="fa fa-list-ul"></i></button><button type="button" class="btn btn-default ng-scope" name="ol" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Ordered List" unselectable="on" disabled="disabled"><i class="fa fa-list-ol"></i></button><button type="button" class="btn btn-default ng-scope" name="redo" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Redo" unselectable="on" disabled="disabled"><i class="fa fa-repeat"></i></button><button type="button" class="btn btn-default ng-scope" name="undo" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Undo" unselectable="on" disabled="disabled"><i class="fa fa-undo"></i></button><button type="button" class="btn btn-default ng-scope" name="clear" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Clear formatting" unselectable="on" disabled="disabled"><i class="fa fa-ban"></i></button></div><div class="btn-group"><button type="button" class="btn btn-default ng-scope" name="justifyLeft" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Align text left" unselectable="on" disabled="disabled"><i class="fa fa-align-left"></i></button><button type="button" class="btn btn-default ng-scope" name="justifyCenter" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Center" unselectable="on" disabled="disabled"><i class="fa fa-align-center"></i></button><button type="button" class="btn btn-default ng-scope" name="justifyRight" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Align text right" unselectable="on" disabled="disabled"><i class="fa fa-align-right"></i></button><button type="button" class="btn btn-default ng-scope" name="justifyFull" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Justify text" unselectable="on" disabled="disabled"><i class="fa fa-align-justify"></i></button><button type="button" class="btn btn-default ng-scope" name="indent" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Increase indent" unselectable="on" disabled="disabled"><i class="fa fa-indent"></i></button><button type="button" class="btn btn-default ng-scope" name="outdent" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Decrease indent" unselectable="on" disabled="disabled"><i class="fa fa-outdent"></i></button></div><div class="btn-group"><button type="button" class="btn btn-default ng-scope" name="html" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Toggle html / Rich Text" unselectable="on"><i class="fa fa-code"></i></button><button type="button" class="btn btn-default ng-scope" name="insertImage" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Insert image" unselectable="on" disabled="disabled"><i class="fa fa-picture-o"></i></button><button type="button" class="btn btn-default ng-scope" name="insertLink" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Insert / edit link" unselectable="on" disabled="disabled"><i class="fa fa-link"></i></button><button type="button" class="btn btn-default ng-scope" name="insertVideo" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" title="Insert video" unselectable="on" disabled="disabled"><i class="fa fa-youtube-play"></i></button><div id="toolbarWC" style="display:block; min-width:100px;" class="btn btn-default ng-scope" name="wordcount" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" unselectable="on" disabled="disabled">Words: <span ng-bind="wordcount" class="ng-binding">0</span></div><div id="toolbarCC" style="display:block; min-width:120px;" class="btn btn-default ng-scope" name="charcount" ta-button="ta-button" ng-disabled="isDisabled()" tabindex="-1" ng-click="executeAction()" ng-class="displayActiveToolClass(active)" unselectable="on" disabled="disabled">Characters: <span ng-bind="charcount" class="ng-binding">0</span></div></div></div><div class="ta-scroll-window ng-scope ta-text ta-editor form-control" ng-hide="showHtml"><div class="popover fade bottom" style="max-width: none; width: 305px;"><div class="arrow"></div><div class="popover-content"></div></div><div class="ta-resizer-handle-overlay"><div class="ta-resizer-handle-background"></div><div class="ta-resizer-handle-corner ta-resizer-handle-corner-tl"></div><div class="ta-resizer-handle-corner ta-resizer-handle-corner-tr"></div><div class="ta-resizer-handle-corner ta-resizer-handle-corner-bl"></div><div class="ta-resizer-handle-corner ta-resizer-handle-corner-br"></div><div class="ta-resizer-handle-info"></div></div><div id="taTextElement4561011121722258" contenteditable="true" ta-bind="ta-bind" ng-model="html" class="ng-pristine ng-untouched ng-valid ta-bind ng-empty"><p><br></p></div></div><textarea id="taHtmlElement4561011121722258" ng-show="showHtml" ta-bind="ta-bind" ng-model="html" class="ng-pristine ng-untouched ng-valid ng-scope ta-bind ta-html ta-editor form-control ng-empty ng-hide"></textarea><input type="hidden" tabindex="-1" style="display: none;" name="textAngularEditor4561011121722258" value=""></div>
                                     </div>
                                  </div>
                              
                                  <div class="clearfix"></div>
                               
                                  <div class="col-lg-12">
                                  <div class="form-group">
                                        <label for="exampleInputEmail1">Moderator Users :</label>
                                        <input required="" type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" ng-model="setting.moderator_users">
                                     </div> 
                               </div>
          

                               
                               <div class="row" style="margin-bottom:10px;">

                                <div <div class="col-lg-12">
                               
                               <div class="form-group">

                                <div class="col-lg-2">
                                    <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                    </label>  
                                </div>
                                                                
                                    <div class="col-lg-2 lab" >
                                        
                                        <label>  Testing </label>
                                        
                                    </div>
                                    
                            </div>
                        </div>
                            </div>

                            <div class="row" style="margin-bottom:10px;">

                                    <div <div class="col-lg-12">
                                   
                                   <div class="form-group">
    
                                    <div class="col-lg-2">
                                        <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                        </label>  
                                    </div>
                                                                    
                                        <div class="col-lg-2 lab" >
                                            
                                            <label>  Abstract </label>
                                            
                                        </div>
                                        
                                </div>
                            </div>
                                </div>

                               
                           
                                <div class="row" style="margin-bottom:10px;">

                                        <div <div class="col-lg-12">
                                       
                                       <div class="form-group">
        
                                        <div class="col-lg-2">
                                            <label class="switch">
                                            <input type="checkbox">
                                            <span class="slider round"></span>
                                            </label>  
                                        </div>
                                                                        
                                            <div class="col-lg-2 lab" >
                                                
                                                <label>  Ask A Moderator </label>
                                                
                                            </div>
                                            
                                    </div>
                                </div>
                                    </div>


                                    <div class="row" style="margin-bottom:10px;">

                                            <div <div class="col-lg-12">
                                           
                                           <div class="form-group">
            
                                            <div class="col-lg-2">
                                                <label class="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                                </label>  
                                            </div>
                                                                            
                                                <div class="col-lg-2 lab" >
                                                    
                                                    <label>  Notification </label>
                                                    
                                                </div>
                                                
                                        </div>
                                    </div>
                                        </div>
    

                                        <div class="row" style="margin-bottom:10px;">

                                                <div <div class="col-lg-12">
                                               
                                               <div class="form-group">
                
                                                <div class="col-lg-2">
                                                    <label class="switch">
                                                    <input type="checkbox">
                                                    <span class="slider round"></span>
                                                    </label>  
                                                </div>
                                                                                
                                                    <div class="col-lg-2 lab" >
                                                        
                                                        <label>  My Agenda </label>
                                                        
                                                    </div>
                                                    
                                            </div>
                                        </div>
                                            </div>

<div class="row" style="margin-bottom:10px;">

    <div <div class="col-lg-12">
       
        <div class="form-group">

           <div class="col-lg-2">
              <label class="switch">
             <input type="checkbox">
              <span class="slider round"></span>
              </label>  
            </div>
                                        
            <div class="col-lg-2 lab" >
                
                <label>Schedule Section  </label>
                
            </div>
            
        </div>
   </div>
 </div>

            
 <div class="row" style="margin-bottom:10px;">

        <div <div class="col-lg-12">
           
            <div class="form-group">
    
               <div class="col-lg-2">
                  <label class="switch">
                 <input type="checkbox">
                  <span class="slider round"></span>
                  </label>  
                </div>
                                            
                <div class="col-lg-2 lab" >
                    
                    <label>Faculty Section</label>
                    
                </div>
                
            </div>
       </div>
     </div>

     
 <div class="row" style="margin-bottom:10px;">

        <div <div class="col-lg-12">
           
            <div class="form-group">
    
               <div class="col-lg-2">
                  <label class="switch">
                 <input type="checkbox">
                  <span class="slider round"></span>
                  </label>  
                </div>
                                            
                <div class="col-lg-2 lab" >
                    
                    <label>Networking Section</label>
                    
                </div>
                
            </div>
       </div>
     </div>
                    
                                            
     
 <div class="row" style="margin-bottom:10px;">

        <div <div class="col-lg-12">
           
            <div class="form-group">
    
               <div class="col-lg-2">
                  <label class="switch">
                 <input type="checkbox">
                  <span class="slider round"></span>
                  </label>  
                </div>
                                            
                <div class="col-lg-2 lab" >
                    
                    <label>Sponsor Section </label>
                    
                </div>
                
            </div>
       </div>
     </div>
       
        
                                    
     
 <div class="row" style="margin-bottom:10px;">

        <div <div class="col-lg-12">
           
            <div class="form-group">
    
               <div class="col-lg-2">
                  <label class="switch">
                 <input type="checkbox">
                  <span class="slider round"></span>
                  </label>  
                </div>
                                            
                <div class="col-lg-2 lab" >
                    
                    <label>Floor Map Section </label>
                    
                </div>
                
            </div>
       </div>
     </div>
       
                                            
             
    
 <div class="row" style="margin-bottom:10px;">

        <div <div class="col-lg-12">
           
            <div class="form-group">
    
               <div class="col-lg-2">
                  <label class="switch">
                 <input type="checkbox">
                  <span class="slider round"></span>
                  </label>  
                </div>
                                            
                <div class="col-lg-2 lab" >
                    
                    <label>Ads Section </label>
                    
                </div>
                
            </div>
       </div>
     </div>
       
                                            
                          
                          
                       
                                <div class="col-lg-12">
                                        <div class="form-group">
                                                <h4><a target="_new" href="https://think360studio.com/what-dimensions-resolution-should-be-for-ios-and-android-app-design/">Image Dimensions Guide Lines</a></h4>
                                                <label for="exampleInputEmail1">Home Splash Image :</label>
                                                <div class="form-group">
                                                   <div class="clearfix"></div>
                                                   <input ng-change="UploadImage(setting.splashImg,'setting',{main:'setting',sub:'splash'})" id="bbd" type="file" ngf-select="" ng-model="setting.splashImg" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" class="ng-pristine ng-untouched ng-valid ng-empty"><br>
                                                   <!-- ngIf: setting.images.length -->
                                                   <!-- ngRepeat: (key,fi) in setting.splashImg -->
                                                   <!-- ngIf: setting.splash -->
                                                   <div class="clearfix"></div>
                                                </div>
                                             </div>    
                                    </div> 
                                         
                     
                    
                      
                                    <div class="col-lg-12">
                                            <div class="form-group">
                                                    <label for="exampleInputEmail1">Logo Image :</label>
                                                    <div class="form-group">
                                                       <div class="clearfix"></div>
                                                       <input ng-change="UploadImage(setting.logoImg,'setting',{main:'setting',sub:'logo'})" id="bbd" type="file" ngf-select="" ng-model="setting.logoImg" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" class="ng-pristine ng-untouched ng-valid ng-empty"><br>
                                                       <!-- ngIf: setting.images.length -->
                                                       <!-- ngRepeat: (key,fi) in setting.logoImg -->
                                                       <!-- ngIf: setting.logo -->
                                                       <div class="clearfix"></div>
                                                    </div>
                                                 </div>
                                        </div> 
                                        
                          
                             
    
                                        
    <div class="col-lg-12">
            <div class="form-group">
                    <label for="exampleInputEmail1">Signin BG Image :</label>
                    <div class="form-group">
                       <div class="clearfix"></div>
                       <input ng-change="UploadImage(setting.signin_bgImg,'setting',{main:'setting',sub:'signin_bg'})" id="bbd" type="file" ngf-select="" ng-model="setting.signin_bgImg" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" class="ng-pristine ng-untouched ng-valid ng-empty"><br>
                       <!-- ngIf: setting.images.length -->
                       <!-- ngRepeat: (key,fi) in setting.signin_bgImg -->
                       <!-- ngIf: setting.signin_bg -->
                       <div class="clearfix"></div>
                    </div>
                 </div>   
    </div>
       
    
                                     
    <div class="col-lg-12">
            <div class="form-group">
                    <label for="exampleInputEmail1">Ads  Image :</label>
                    <div class="form-group">
                       <div class="clearfix"></div>
                       <input ng-change="UploadImage(setting.adsImg,'setting',{main:'setting',sub:'ads'})" id="bbd" type="file" ngf-select="" ng-model="setting.adsImg" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" class="ng-pristine ng-untouched ng-valid ng-empty"><br>
                       <!-- ngIf: setting.images.length -->
                       <!-- ngRepeat: (key,fi) in setting.adsImg -->
                       <!-- ngIf: setting.ads -->
                       <div class="clearfix"></div>
                    </div>
                 </div>   
     </div>
           
    
                                      
    <div class="col-lg-12">
            <div class="form-group">
                    <label for="exampleInputEmail1">Home Page Image :</label>
                    <div class="form-group">
                       <div class="clearfix"></div>
                       <input ng-change="UploadImage(setting.homeImg,'setting',{main:'setting',sub:'home'})" id="bbd" type="file" ngf-select="" ng-model="setting.homeImg" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" class="ng-pristine ng-untouched ng-valid ng-empty"><br>
                       <!-- ngIf: setting.images.length -->
                       <!-- ngRepeat: (key,fi) in setting.homeImg -->
                       <!-- ngIf: setting.home -->
                       <div class="clearfix"></div>
                    </div>
                 </div> 
        </div>
    
                                         
    <div class="col-lg-12">
            <div class="form-group">
                    <label for="exampleInputEmail1">About  Image :</label>
                    <div class="form-group">
                       <div class="clearfix"></div>
                       <input ng-change="UploadImage(setting.aboutIm,'setting',{main:'setting',sub:'aboutImg'})" id="bbd" type="file" ngf-select="" ng-model="setting.aboutIm" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" class="ng-pristine ng-untouched ng-valid ng-empty"><br>
                       <!-- ngIf: setting.images.length -->
                       <!-- ngRepeat: (key,fi) in setting.aboutIm -->
                       <!-- ngIf: setting.aboutImg -->
                       <div class="clearfix"></div>
                    </div>
                 </div>
        </div>
       
                                         
    <div class="col-lg-12">
        
            <div class="form-group">
                    <label for="exampleInputEmail1">Floor Plan Image :</label>
                    <div class="form-group">
                       <div class="clearfix"></div>
                       <input ng-change="UploadImage(setting.floorIm,'setting',{main:'setting',sub:'floorImg'})" id="bbd" type="file" ngf-select="" ng-model="setting.floorIm" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" class="ng-pristine ng-untouched ng-valid ng-empty"><br>
                       <!-- ngIf: setting.images.length -->
                       <!-- ngRepeat: (key,fi) in setting.floorIm -->
                       <!-- ngIf: setting.floorImg -->
                       <div class="clearfix"></div>
                    </div>
                 </div>        
        </div>
       
                                         
    <div class="col-lg-12">
            <h4> <a target="_new" href="https://go.pushwoosh.com/v2/login">Pushwood Push Notification</a></h4> 
        </div>
       
                                         
    <div class="col-lg-12">
            <div class="form-group">
                    <label for="exampleInputEmail1">Push ID :</label>
                    <input required="" type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" ng-model="setting.push_id">
                 </div>
        </div>
       
                                         
    <div class="col-lg-12">
            <div class="form-group">
                    <label for="exampleInputEmail1">Push Key :</label>
                    <input required="" type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" ng-model="setting.push_key">
                 </div>
        </div>
                                        
    <div class="col-lg-12">
            <div class="form-group">
               
                    <input style="background:;color:;width: 67px;
         height: 58px;
         text-align: center;" colorpicker="" ng-model="setting.bg_color" type="text" class="ng-pristine ng-untouched ng-valid ng-empty">
        <label for="exampleInputEmail1">Background Color :</label>
                 </div>
        </div>
       
                                         
    <div class="col-lg-12">
            <div class="form-group">
               
                    <input style="background:;color:;width: 67px;
         height: 58px;
         text-align: center;" colorpicker="" ng-model="setting.text_color" type="text" class="ng-pristine ng-untouched ng-valid ng-empty">
        <label for="exampleInputEmail1">Background Text Color :</label>
                 </div>
        </div>
           

        <div class="col-lg-12">
                <div class="form-group">
               
                        <input style="background:;color:;width: 67px;
             height: 58px;
             text-align: center;" colorpicker="" ng-model="setting.bg_color_light" type="text" class="ng-pristine ng-untouched ng-valid ng-empty">
            <label for="exampleInputEmail1">Background  Color Light:</label>
                     </div>   
            </div>
    
            

            <div class="col-lg-12">
                    <div class="form-group">
              
                            <input style="background:;color:;width: 67px;
                 height: 58px;
                 text-align: center;" colorpicker="" ng-model="setting.text_color_light" type="text" class="ng-pristine ng-untouched ng-valid ng-empty">
                <label for="exampleInputEmail1">Background  Text Color Light:</label>
                         </div> 
                </div>
        
    
                
        <div class="col-lg-12">
                
            </div>
    
    
            
        <div class="col-lg-12">
                
            </div>
    
    





        
                                        <div class="col-lg-12">
                                 <button type="button" class="btn btn-default btn-md  pull-right"
                                   ng-click="insert_data('organization_commitee',organization_commitee,'/organization_commitee')">
                                   Add </button>
                                   

          
                                  
                              </div>
          
                            </div>
                         </div>
                         
                         </div>
                      </div>
     
     </section>