  <!-- Navigation-->
    <aside class="navigation">
        <nav>
            <ul class="nav luna-nav">
                <li class="nav-category">
                    Main
                </li>

                <li class="active">
                    <a ui-sref="home"><span class="pe-7s-album"></span> Dashboard</a>
                </li>
              
                <li>
                    <a ui-sref="schedule" >
                        Schedule 
                    </a>
                    </li>
 
                    <li>
                        <a ui-sref="sponsors">
                            Sponsors
                                
                         </a>
                                
                    </li>

                  
                    <li>
                      <a ui-sref="users">
                              Users
                                                   
                         </a>
                                       
                    </li>
       

                <li>
                    <a ui-sref="abstract">
                         Abstract
                
                        </a>
                 </li>
                  <li>
                     <a ui-sref="abstract">
                         Games
                
                        </a>
                  </li>
                  <li>
                     <a ui-sref="abstract">
                         Game Users
                
                        </a>
                  </li>
                  <li>
                     <a ui-sref="abstract">
                         Sponsors
                
                        </a>
                  </li>
                  <li>
                     <a ui-sref="abstract">
                         Live Streaming
                
                        </a>
                  </li>
                  <li>
                     <a ui-sref="abstract">
                         Devices
                
                        </a>
                  </li>
                  <li>
                     <a ui-sref="abstract">
                         QR Codes
                
                        </a>
                  </li>
                                         
                 <li>
                     <a ui-sref="gallery">
                         Gallery
                      </a>
                                               
                    </li>
                          
                
            <li>
            
                <a ui-sref="notification">
                  Push Notification
                </a>
                                                      
          </li>
         <li>
            <a ui-sref="abstract">
                         Import / Export
                
                        </a>
         </li>
         <li>
            <a ui-sref="abstract">
                         Builds
                
                        </a>
         </li>
        
                               
          <li>
            
                <a ui-sref="settings">
                        Settings
                </a>
                                                      
          </li>
                
        
          <li>
            
                <a ui-sref="super-admin">
                        Super Admin
                </a>
                                                      
          </li>
          

                
                
            
            
                </ul>
                    <!--
                   <li class="nav-category">
                  General
               </li>
                <li>
                    <a ui-sref="invoice" >
                         Invoice<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
                </li>
                  <li>
                     <a href="#monitoring">
                        Estimate<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
                  </li>
                  <li>
                     <a href="#monitoring">
                        Bill<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
                  </li>
                  <li>
                     <a href="#monitoring">
                         Receipt<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
                  </li>
                  <li>
                     <a href="#monitoring">
                        Product / Service<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
                  </li>
                  <li>
                     <a href="#monitoring">
                        Employee<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
                  </li>
               <li class="nav-category">
                   Reports
               </li>
               <li>
                  <a href="#monitoring">
                        Charter of Account<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
               </li>
               <li>
                  <a href="#monitoring">
                        Sales Report<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
               </li>
               <li>
                  <a href="#monitoring">
                        Expense Report<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
               </li>
               <li>
                  <a href="#monitoring">
                        Custom Report<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
               </li>

                <li class="nav-category">
                    Taxes / Settings
                </li>
               <li>
                  <a href="#monitoring">
                        Tax<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
               </li>
               <li>
                  <a href="#monitoring">
                        Setting<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                    </a>
               </li>
               <li>
                  <a href="#monitoring">
                      <!--  <span class="badge">2</span>-->
                    <!--     User <span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
               <!--     </a>  -->
             <!--  </li>  -->
                 
            </ul>
        </nav>
    </aside>
    <!-- End navigation-->