<section class="content-add hide" id="superadmin-add">
   <div class="col-big-full">
      <div class="panel panel-filled">
         <div class="panel-heading">
            <div class="panel-tools">
               <a class="panel-toggle margin-right"><i class="fa fa-plus"></i> Save</a>
               <a class="panel-close" ng-click="showPage('superadmin-add')"><i class="fa fa-times"></i></a>
            </div>
            Invoice
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-lg-12">
                  <div class="view-header">
                     <div class="pull-right text-right" style="line-height: 14px">
                        <small><br><br> <span class="c-white"></span></small>
                     </div>
                     <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-shield"></i>
                     </div>
                     <div class="header-title">
                        <h3 class="m-b-xs">Member Add</h3>
                        <small>
                                         Some info for Member add
                                    </small>
                     </div>
                  </div>
                  <hr>
               </div>
            </div>

             
                     <div class="row">
                        
                        <div class="col-lg-12">
                           <div class="form-group">
                              <label>Name</label>
                              <input class="form-control"> 
                           </div>
                        </div>

                        <div class="col-lg-12">
                           <div class="form-group">
                              <label>Login User</label>
                              <input class="form-control"> 
                           </div>
                        </div>

                        <div class="col-lg-12">
                                <div class="form-group">
                                   <label>Login Password</label>
                                   <input class="form-control"> 
                                </div>
                             </div>
                          </div>
     
                     </div>

 
                     


                          <div class="col-lg-12">
                       <button type="button" class="btn btn-default btn-md  pull-right"
                         ng-click="insert_data('super-admin',super-admin,'/super-admin')">
                         Add </button>
                         

                        <a href="/super-admin" type="button" 
                        class="btn btn-default btn-md  pull-left">Cancel</a>
                    </div>

                  </div>


            

   </div>
</section>