<section class="content login-content">
    

        <div class="container-fluid lg animated slideInDown" style="height:100%">

                   <div class="col-md-4" style="height:100%;">
                     <div class="view-header">
                        <div class="header-icon">
                           <i class="pe page-header-icon pe-7s-add-user"></i>
                        </div>
                        <div class="header-title">
                           <h3>Shop Add</h3>
                           <small>
                                 Please enter your data to register.
                           </small>
                       </div>
                     </div>
                    <div class="col-md-12">
                     <div class="v-timeline vertical-container">
                        <div class="vertical-timeline-block">
                           <div class="vertical-timeline-icon">
                              <i class="fa fa-user"></i>
                           </div>
                           <div class="vertical-timeline-content">
                              <div class="p-sm">
                                 <span class="vertical-date pull-right"> <small>1st Step</small> </span>

                                 <h2>Add Shop Credentials</h2>

                                 <p>Name, Shopify Connect</p>
                              </div>
                           </div>
                        </div>
                        <div class="vertical-timeline-block">
                           <div class="vertical-timeline-icon">
                              <i class="fa fa-file"></i>
                           </div>
                           <div class="vertical-timeline-content">
                              <div class="p-sm">
                                 <span class="vertical-date pull-right"> <small>2nd Step</small> </span>

                                 <h2>Connect Selection</h2>

                                 <p>Submit products to Google Shopping / Get Products from Amazon to Shopify Store</p>
                              </div>
                           </div>
                        </div>
                        <div class="vertical-timeline-block">
                           <div class="vertical-timeline-icon">
                              <i class="fa fa-file"></i>
                           </div>
                           <div class="vertical-timeline-content">
                              <div class="p-sm">
                                 <span class="vertical-date pull-right"> <small>3rd Step</small> </span>

                                 <h2>Google  <small>or</small> Amazon <br>Settings</h2>

                                 <p>If you select Add products to Google then u have to add Google Settings else if you select Amazon you have to add amazon settings for product import.
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="vertical-timeline-block">
                           <div class="vertical-timeline-icon">
                              <i class="fa fa-calendar"></i>
                           </div>
                           <div class="vertical-timeline-content">
                              <div class="p-sm">
                                 <span class="vertical-date pull-right"> <small>For Google Only</small> </span>

                                 <h2>Shopify Collection</h2>

                                 <p>Select collections need to import to Google Shopping
                                 </p>
                              </div>
                           </div>
                        </div>

                     </div>
                    </div>
                    
                   </div>
                   <div class="col-md-8" style="height:100%">
                     <div class="modal-content" style="height:100%">
                        <div class="modal-body" style="height:90%;padding-top: 10%;">
                           <h4 class="m-t-none">Add Shop to your account</h4>
                           <p>You can add shop and transfer all products to either Google Shopping or you can get all products from amazon to your shopify store.</p>
                           <div class="row">
                              <div class="col-md-3">
                                 <h4 class="stat-label">Shop Info</h4>
                                 <small class="m-t-xs">Please add shop info </small>
                              </div>
                           </div>
                           <div class="progress m-t-xs full progress-small">
                              <div style="width: 0%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="65" role="progressbar" class=" progress-bar progress-bar-warning">
                                 <span class="sr-only">0% Complete (success)</span>
                              </div>
                           </div>
                           <br><br>
                           <form action="index.html" id="loginForm" novalidate>
                              <div class="row">
                                 <div class="form-group col-lg-6">
                                    <label>Name</label>
                                    <input type="" value="" id="username" class="form-control" name="">
                                    <span class="help-block small">Your unique username to app</span>
                                 </div>
                                 <div class="form-group col-lg-6">
                                    <label>Shopify Store Name</label>
                                    <input type="password" value="" id="password" class="form-control" name="">
                                    <span class="help-block small">Your hard to guess password</span>
                                 </div>
                                 <div class="form-group col-lg-6">
                                    <label>Shopify Store Domain</label>
                                    <input type="password" value="" id="repeatpassword" class="form-control" name="">
                                    <span class="help-block small">Please repeat your pasword</span>
                                 </div>
                              </div>
                           </form>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                           <button type="button" class="btn btn-accent">Next</button>
                        </div>
                     </div>
                   </div>
                  
                    <p>

                    </p>
                   

        </div>
    </section>